.container {
    background-color: rgb(228, 164, 26);
}

.navbar-item {
    font-weight:bold;
    color:white;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
    color:rgb(29, 138, 228);
}